.main {
  display: flex;
  flex-direction: column;
  margin: 16px 16px 0 16px;
  height: 100%;
}

.main > :first-child {
  margin-top: 24px;
  margin-bottom: 24px;
}

.main > :nth-child(2) {
  margin-bottom: 16px;
}

.main > :nth-child(3) {
  margin-bottom: 26px;
}

.main > :nth-child(4) {
  margin-bottom: 24px;
}

.main > :nth-child(5) {
  margin-bottom: 26px;
}
