.loginContainer {
  padding: 0 16px;
  margin-top: 10em;
}

.loginContainer h1 {
  font-family: Poppins;
  color: #fafafa;
  font-size: 28px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-bottom: 24px;
}

.loginContainer form > :first-child,
.loginContainer form > :nth-child(2) {
  margin-bottom: 16px;
}

.loginContainer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginContainer input[type="checkbox"] {
  margin-right: 5px;
  padding: 0;
}

.loginContainer p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #fafafa;
}

.loginContainer a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #818cf8;
  text-decoration: none;
}

.loginContainer button {
  margin-top: 24px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 48px;
}

.footer p {
  margin-right: 5px;
  color: #fafafa;
}

.footer a {
  color: #81aef1;
  text-decoration: none;
  font-weight: 600;
}
