.signupContainer {
  padding: 0 16px;
  margin-top: 10em;
}

.signupContainer h1 {
  font-family: Poppins;
  color: #fafafa;
  font-size: 28px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.signupContainer .input-container {
  margin-bottom: 16px;
}

.signupContainer .btn {
  margin-top: 24px;
}

.signupContainer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signupContainer input[type="checkbox"] {
  margin-right: 5px;
  padding: 0;
}

.info {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #fafafa;
  a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #818cf8;
    text-decoration: none;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}

.footer p {
  margin-right: 5px;
  color: #fafafa;
}

.footer a {
  color: #81aef1;
  text-decoration: none;
  font-weight: 600;
}
