.userProfileBackground {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.userProfileBackground > :nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.userProfileBackground > :nth-child(2) {
  margin-bottom: 26px;
  position: relative;
  z-index: 2;
  padding-left: 16px;
  padding-right: 16px;
}

.userProfileBackground > :nth-child(3) {
  margin-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.userProfileBackground > :nth-child(4) {
  margin-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
}

.userProfileBackground > :nth-child(5) {
  margin-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.userProfileBackground > :nth-child(6) {
  padding-left: 16px;
  padding-right: 16px;
}
