.btn {
  font-family: poppins;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.btn:disabled {
  background-color: #362242 !important;
  color: #513263 !important;
  cursor: not-allowed;
}
