.createMatchSection {
  padding: 24px;
  color: #fafafa;
  text-align: center;
  font-family: Poppins;
  border-radius: 12px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../public/create-match-section-bg.jpg");
  background-position: center;
  background-size: cover;

  h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 2px;
  }

  p {
    margin: 0 auto 12px auto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    max-width: 252px;
    text-align: center;
  }
}
