header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 24px 17px 24px 17px; */
}

.user-info {
  display: flex;
  align-items: center;
  color: #fff;
}

.user-pic {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 10px;
}
