.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #374151;
  border-radius: 8px;
  padding: 10px;
  height: 50px;
  transition: border-color 0.3s;
}

.inputContainer i {
  color: #828282;
  margin-right: 5px;
  vertical-align: middle;
  display: inline-block;
  line-height: 0.5;
}

i::before {
  display: inline-block;
  vertical-align: middle;
}

.inputContainer .fi {
  cursor: pointer;
}

.inputContainer .hidden {
  display: none;
}

.inputContainer input {
  border: none;
  outline: none;
  background: none;
  color: #f9fafb;
  font-size: 12px;
  flex-grow: 1;
}

.inputContainer input::placeholder {
  color: #6d7280;
}

.inputContainer:focus-within {
  border-color: #9ca3af;
}

.inputContainer.valid {
  border-color: #06c27066; /* Color del borde cuando es válido */
}

.inputContainer.error {
  border-color: #ef4444;
}

.errorMessage {
  color: #ef4444;
  font-size: 11px;
}
