.upcomingMatches {
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-self: stretch;

  h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
  }
}
